  #add-item-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #add-item-form input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #add-item-form button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #add-item-form button:hover {
    background-color: #3e8e41;
  }
  
  #buy-button {
    display: block;
    margin: 10px auto 0;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #buy-button:hover {
    background-color: #3e8e41;
  }
  
  .list-group-item {
    display: none;
    text-align: end;
  }
  